<div id="registerBox">
    <div class="menuCaption showHidden" onclick="showRegisterBox();">Register</div>
    <div id="registerBoxHidden">
        email: <br>
        <input type="text" name="email" id="email" value=""><br>
        password: <br>
        <input type="password" name="pwd1" id="pwd1" value=""><br>
        password again: <br>
        <input type="password" name="pwd2" id="pwd2" value=""><br>
        <input type="button" name="button" onclick="registerNewUser();" value="Register">
    </div>
</div>